<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Counter</title>
</head>
<body>
    <div class="header">
        <h1>Django Word Counter</h1>
    </div>
    <div class="form">
        <form action="{% url 'count' %}">
            <textarea cols="40" rows="10" name="fulltext"></textarea>
            <br>
            <input type="submit" value="Count"/>
        </form>
    </div>

</body>
</html>